@import url('https://fonts.googleapis.com/css2?family=Karla');
@import url('https://fonts.googleapis.com/css2?family=Manjari');
/* The body class targets the <body> tag in your html file */
body {
    font-family: "Manjari", sans-serif;
    margin: 0;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(background-website.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding: 0 15px;
    text-align: center;
    padding: 200px 15px;
    gap: 20px;
}

.home-content h1 {
    font-size: 80px;
}

.home-content h2 {
    font-size: 40px;
}

.home-content a {
    font-size: 30px;
}

/* The following classes are used to style the corresponding html classes */

.content {
    padding: 40px;
}