@import url('https://fonts.googleapis.com/css2?family=Delius&family=DynaPuff:wght@400..700&display=swap');
/* The body class targets the <body> tag in your html file */
:root {
    --header-color: #093E55;
    --light-text-color: #DAD5C9;
    --text-color: #093E55;
    --container-color: #CBCFD2;
    --button-color: #DAD5C9;
    --border-color: #5C493C;
    --background-color: #DAD5C9;
    --shadow-color: #B5C7D6;
    --shade-color: #88AFCD;

    --heading-font: "DynaPuff";
    --text-font: "Delius";
  }  

body {
    font-family: var(--text-font);
    margin: 0;
    background-color: var(--background-color);
}

.navbar {
    background-color: var(--header-color);
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: var(--light-text-color);
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .navbar .nav-link:hover,
  .navbar .navbar-brand:hover {
    color: (var(--light-text-color));
  }

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(background-website.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding: 0 15px;
    text-align: center;
    padding: 200px 15px;
    gap: 20px;
}

.home-content h1 {
    font-family: var(--heading-font);
    font-size: 80px;
}

.home-content h2 {
    font-size: 40px;
}

.home-content a {
    font-size: 30px;
}

/* The following classes are used to style the corresponding html classes */

.content {
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--container-color);
    border-radius: 25px;
    box-shadow: 5px 5px 10px var(--shadow-color);
    margin: 3% 3%;
}

.content h1 {
    font-family: var(--heading-font);
    font-size: 40px;
}

.content p {
    font-size: 25px;
}
.text-section {
    max-width: 600px;
    margin-right: 20px;
}
.profile-pic {
    border: 7px solid var(--border-color);
    height: 40vh;
}

.resume-button {
    border: 3px solid var(--border-color);
    border-radius: 50px;
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--button-color);
}

.resume-button:hover {
    color: #A17E66;
}

.circle-frame {
    border-radius: 50%;
}


.timeline {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--container-color);
    border-radius: 25px;
    box-shadow: 5px 5px 10px var(--shadow-color);
    margin: 3% 3%;
}

.timeline h1 {
    font-family: var(--heading-font);
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 80%;
    background: var(--border-color);
    top: 120px;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 80px;
    margin-bottom: 40px;
    padding: 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.container.visible {
    opacity: 1;
    transform: translateY(0);
}

.container.hidden {
    opacity: 0;
    transform: translateY(-50px);
}

.container:nth-child(2) {
    animation-delay: 0s;
}

.container:nth-child(3) {
    animation-delay: 1s;
}

.container:nth-child(4) {
    animation-delay: 2s;
}

.container:nth-child(5) {
    animation-delay: 3s;
}

.container:nth-child(6) {
    animation-delay: 4s;
}

.container:nth-child(7) {
    animation-delay: 5s;
}

.container img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 2;
}

.left-container {
    flex-direction: row-reverse;
    z-index: 2;
}

.right-container {
    flex-direction: row;
    z-index: 2;
}

.text-box {
    position: relative;
    background-color: var(--button-color);
    border-radius: 6px;
    font-size: 15px;
    padding: 20px 30px;
    width: 40%;
    z-index: 1;
    border: 3px solid var(--shadow-color);
}

.text-box h2 {
    font-weight: 600;
    font-family: var(--header-font);
    font-size: 24px;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
    font-style: italic;
}

.text-box p {
    font-style: italic;
}

.left-container .text-box {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

.right-container .text-box {
    margin-left: 0px;
    margin-right: 0;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .timeline {
        padding-left: 80px;
        margin-left: 80px auto;
    }
    .timeline::after {
        left: 50px;
    }
    .container {
        width: 100%;
        padding-left: 100px;
        padding-right: 25px;
    }
    .text-box {
        font-size: 13px;
    }
    .text-box h2 {
        font-size: 15px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .right-container {
        left: 0;
    }
    .left-container img, .right-container img {
        left: 0px;
    }
}

.social-icons-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }

  .contact-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--heading-font);
  }

  .contact-info {
    width: 100%;
  }

  .input-message-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  .input-fields {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    max-width: 40%;
  }

  .message-field {
    flex: 1;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
  }  
  
  .input-field {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--button-color);
    border: 3px solid var(--shadow-color);
    border-radius: 15px;
  }  

  .email-send-button {
    border: 3px solid var(--border-color);
    border-radius: 50px;
    color: black;
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--background-color);
    display: block;
  }
  .email-send-button:hover {
    color: var(--border-color);
  }

.social-icons-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icons-2 img {
    width: 40px;
    height: 40px;
  }

.projects-content {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.carousel-item {
    transition: transform 0.6s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 400px;
    max-width: 100%;
    transition: none !important;
    display: block;
    margin: 0 auto;
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
}

.project-title {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 40px;
}

.project-title a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.project-title a:hover {
    color: var(--border-color);
}

.project-description {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    max-width: 80%;
    margin: 0 auto;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 2.5rem;
    padding: 2rem 60px;
}

.skills-box {
    flex: 0 0 180px;
    padding: 1.5rem;
    color: #000;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-box:hover {
    transform: translateY(-10px);
}

.skills-box:hover > .skill-title:after, .skills-box:hover > .skill-title:before{
    width: 35px;
}

.skills-box:hover .img {
    transform: translateY(-10px);
}

.my-skills-title {
  font-family: "Permanent Marker";
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin: 3% 0 20px 0;
  color: black;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: var(--border-color);
    transition: .5s;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: var(--border-color);
    transition: .5s;
}

.img { 
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    margin: 0 auto;
    border: 3px solid var(--shadow-color);
}

.img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill-title h3{
    color: #000;
    margin-top: 1rem;
    font-size: 28px;
}

.skill-icon{
    width: 70px;
    height: 70px;
    z-index: 2;
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 10px;
    margin-top: 15px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: var(--shade-color);
    border-radius: 10px;
    transition: width 1s ease-in-out;
  }

@media screen and (max-width: 990px) {
    .skills-container {
        padding: 2rem 40px;
    }
}

@media screen and (max-width: 650px) {
    .skills-container {
        gap: 1.5rem;
    }
}
