@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&display=swap');
/* The body class targets the <body> tag in your html file */
body {
    font-family: "Caveat";
    margin: 0;
    background-color: #DAD5C9;
}

.navbar {
    background-color: #88AFCD;
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: #DAD5C9;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .navbar .nav-link:hover,
  .navbar .navbar-brand:hover {
    color: #88AFCD;
  }

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(background-website.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding: 0 15px;
    text-align: center;
    padding: 200px 15px;
    gap: 20px;
}

.home-content h1 {
    font-family: "Permanent Marker";
    font-size: 80px;
}

.home-content h2 {
    font-size: 40px;
}

.home-content a {
    font-size: 30px;
}

/* The following classes are used to style the corresponding html classes */

.content {
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #CBCFD2;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #B5C7D6;
    margin: 3% 3%;
}

.profile-pic {
    border: 7px solid #88AFCD;
    height: 40vh;
}

.circle-frame {
    border-radius: 50%;
}